main{
    background-color: #B91450;
    height: 100vh;
    padding: 12rem;
}
.text_color{
    color: #B91450;
}
.my_container{
    max-width: 1564px;
    margin: 0 auto;
}
.my_section{
    margin: auto 0;
}
.my_margins{
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
}